html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

nav{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav a{
    color: white;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}

a:hover{
    color: coral;
}

header{
    background-color: red;
    height: 600px;
    background-image: url(images/IZA.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    color: crimson;
    font-size: 30pt;
    margin: 0;
}

section{
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    height: 800px;
}

aside{
    background-color: cornflowerblue;
    height: 800px;
}

footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

footer div{
    background-color: coral;
    margin-top: 50px;
}

.tamanhoDiv{
    /* transform: rotate(-45deg); */
    width: 60px;
    height: 60px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#corVermelha{
    background-color: red;
}

#corVerde{
    background-color: green;
}

#corAmarela{
    background-color: yellow;
}

#corAzul{
    background-color: blue;
}